.header {
  width: 100%;
  padding: 24px 0; /* Вертикальні падінги за макетом */
  background-color: #ffffff; /* Пряме вказання кольору надійніше */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; /* Щоб хедер завжди був зверху */
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Навігація */
.nav {
  display: flex;
  align-items: center;
  gap: 32px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLink {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navLink.active {
  color: #e44848;
}

.logo {
  z-index: 10;
}
