.bookingForm {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  width: 100%;
  height: 588px;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.formTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.formSubtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 16px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.formInput,
.formTextarea {
  padding: 18px;
  border-radius: 12px;
  border: none;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #101828;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
}

.formInput::placeholder,
.formTextarea::placeholder {
  color: #6c717b;
}

.datePickerWrapper {
  width: 100%;
}

.datePickerWrapper :global(.react-datepicker-wrapper) {
  display: block;
  width: 100%;
}

.datePickerWrapper :global(.react-datepicker__input-container) {
  display: block;
  width: 100%;
}

.datePickerWrapper :global(.react-datepicker__input-container input) {
  display: block;
  width: 100%;
  height: 60px;
  padding: 18px;
  border-radius: 12px;
  border: none;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #101828;
  box-sizing: border-box;
  outline: none;
}

.datePickerWrapper
  :global(.react-datepicker__input-container input::placeholder) {
  color: #6c717b;
}

.formTextarea {
  resize: none;
  height: auto;
  min-height: 120px;
  width: 100%;
}

.submitButton {
  margin-top: auto;
  padding: 12px 48px;
  background-color: #e44848;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  align-self: center;
}

.submitButton:hover {
  background-color: #d84343;
}
