.tabsContent {
  display: flex;
  gap: 32px;
  margin-bottom: 80px;
  align-items: flex-start;
  width: 100%;
}

.leftColumn {
  flex: 1;
  max-width: 640px;
}

.rightColumn {
  flex: 0 0 640px;
}

.tabsHeader {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--gray-light);

  margin-bottom: 52px;
}

.tabsHeader button {
  position: relative;
  background: none;
  border: none;
  padding-bottom: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.activeTab {
  color: var(--main);
  font-weight: 600;
}

.activeTab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: var(--button);
  border-radius: 2px;
}
