.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 18px;
  border-radius: 100px;

  background-color: var(--badges);
  color: var(--main);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  border: none;
  cursor: default;
}
