.featuresContainer {
  width: 100%;
  height: 588px;

  padding: 44px 52px;
  border-radius: 10px;

  background-color: var(--inputs);
}

.chipsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.detailsChip {
  background-color: #f2f4f7 !important;
  border-radius: 100px !important;
  padding: 12px 18px !important;
  border: none !important;
  color: #101828;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.detailsTitle {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.divider {
  height: 1px;
  background-color: var(--gray-light);
  margin: 24px 0;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  column-gap: 40px;
}

.details p:nth-child(even) {
  text-align: right;
}

.details p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.details strong {
  font-weight: 500;
}
