.container {
  margin: 0 auto;
  padding: 48px 64px;
  font-family: var(--font-family);
  color: var(--text);
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--main);
}

/* Блок рейтингу та локації */
.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--text);
  font-weight: 400;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingText {
  font-weight: 400;
  color: var(--main);
  font-size: 16px;
  text-decoration: underline;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--main);
  font-weight: 400;
  font-size: 16px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 31px;
  color: var(--main);
}
.gallery {
  margin-top: 24px;
}

.gallery h2 {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: var(--main);
}

.imagesRow {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.galleryImage {
  width: 292px;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.galleryImage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 52px;
}
